In [26]:
import pandas as pd
df = pd.read_csv('./data/gemstone.csv')
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [27]:
df=df.drop(labels=['id'], axis=1)

In [36]:
X = df.drop(labels=['price'], axis=1)
Y=df[['price']]

In [37]:
Y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [38]:
categorocal_cols = X.select_dtypes(include = 'object').columns
numerical_cols = Y.columns[Y.dtypes!=0]

In [39]:
numerical_cols

Index(['price'], dtype='object')

In [40]:
categorocal_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [41]:
X['cut'].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [42]:
cut_categories = ['Premium', 'Very Good', 'Ideal', 'Good', 'Fair']
color_categories = ['F', 'J', 'G', 'E', 'D', 'H', 'I']
clarity_categories = ['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1']

In [43]:
from sklearn.impute import SimpleImputer ## to handle missing values
from sklearn.preprocessing import StandardScaler ## for nurerial var feature sacling
from sklearn.preprocessing import OrdinalEncoder  ## for cat var ordinal ranking

from sklearn.pipeline import Pipeline   ##Pipeline of transforms with a final estimator
from sklearn.compose import ColumnTransformer   ##transformers to columns of an array or pandas DataFrame